@import "tailwindcss";

@source "../../templates/**/*.twig";
@source "../../src/Controller/**/*.php";

@theme {
    --font-sans: "Inter", sans-serif;
    --color-primary: var(--color-blue-600);
    --color-primary-hover: var(--color-blue-500);
    --color-primary-text: var(--color-blue-400);

    --color-app-bg: #020617;
    --color-sidebar-bg: rgba(15, 23, 42, 0.7);
    --color-card-border: rgba(255, 255, 255, 0.1);

    --animate-shimmer: shimmer 1.5s infinite;
    --animate-float: float 6s ease-in-out infinite;

    @keyframes shimmer {
        100% {
            left: 125%;
        }
    }
    @keyframes float {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }
    --shadow-bento:
        0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.3);
    --shadow-indigo-glow: 0 0 15px rgba(124, 58, 237, 0.3);
}

@layer utilities {
    .perspective-1000 {
        perspective: 1000px;
    }

    .bg-grid {
        background-size: 40px 40px;
        background-image:
            linear-gradient(
                to right,
                rgba(255, 255, 255, 0.03) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.03) 1px,
                transparent 1px
            );
    }
}

@layer base {
    body {
        background-color: var(--color-app-bg);
        color: #cbd5e1;
        font-family: var(--font-sans);
        -webkit-font-smoothing: antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ffffff;
        font-weight: 600;
    }
}

@layer components {
    .glass-card {
        @apply bg-gradient-to-br from-white/10 to-transparent 
               backdrop-blur-md 
               border border-[var(--color-card-border)] 
               shadow-bento 
               rounded-2xl;
    }

    .sidebar-transition {
        @apply transition-all duration-500 ease-in-out;
    }

    .nav-link-active {
        @apply bg-blue-500/20 text-purple-400 border-l-2 border-purple-400 font-medium shadow-[var(--shadow-indigo-glow)];
        /* @apply bg-blue-500/20 text-blue-400 border-l-2 border-blue-400 font-medium shadow-[var(--shadow-indigo-glow)]; */
    }

    .text-primary {
        @apply text-purple-400;
    }

    .form-error {
        display: block !important;
        @apply text-red-400 text-xs font-medium mt-1 ml-1 transition-all duration-200;
    }

    .input-glass {
        @apply w-full bg-white/5 border border-white/10 rounded-lg px-4 py-3 text-white 
               placeholder-slate-500 focus:outline-none focus:border-blue-500/50 focus:ring-1 focus:ring-blue-500/50 transition-all;
    }
}
