{% extends 'dashboard/base.html.twig' %}

{% block dashboard_content %}
    <turbo-frame id="client_frame">
        <div class="max-w-5xl mx-auto">
            <a href="{{ path('app_client_index') }}" class="text-slate-400  font-bold mb-6 block hover:text-primary">
                <i class="fas fa-arrow-left mr-2"></i> Back to list
            </a>
            <div class="glass-card rounded-bento p-8 border border-indigo-500 shadow-2xl">
                <h2 class="text-2xl text-primary mb-6 font-bold">Client Information</h2>
                {{ include('client/_form.html.twig') }}
            </div>
        </div>
    </turbo-frame>
{% endblock %}